<p>batch works!</p>


<div class="d-flex flex-column">
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Batch Name : </label>
        <div class="col-auto">
            <input type="email" [(ngModel)] = "BatchName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Batch Name">
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-text">First and last name</span>
        <input type="text" [(ngModel)] = " studentFirstName " aria-label="First name" class="form-control">
        <input type="text" [(ngModel)] = " studentLastName " aria-label="Last name" class="form-control">
      </div>
    <div class="mb-3 ">
      <label for="exampleInputEmail1" class="form-label">Batch Name : </label>
      <input type="email" [(ngModel)] = "BatchName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Batch Name">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Batch Time</label>
      <input type="Text" [(ngModel)] = "BatchTime" class="form-control" id="exampleInputPassword1" placeholder="Batch time">
    </div>
</div>

    <h1> Batch Name: {{BatchName}}</h1>
    <h2>Student First Name: {{studentFirstName}}</h2>
    <h2>Student Last Name: {{studentLastName}}</h2>
    <h2> Batch Time : {{BatchTime}}</h2>
