<h1>The article element</h1>
<app-article-content>
    <div class="card-header alert-info">
        {{items[0].title}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p> {{items[0].description}}</p>
        <footer class="blockquote-footer alert-danger"> {{items[0].code}} : <cite title="{{items[0].title}}"> {{items[0].title}}</cite></footer>
      </blockquote>
    </div>
</app-article-content>
<app-article-content>
    <div class="card-header alert-info">
        {{items[1].title}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p> {{items[1].description}}</p>
        <footer class="blockquote-footer alert-danger"> {{items[1].code}} : <cite title="{{items[1].title}}"> {{items[1].title}}</cite></footer>
      </blockquote>
    </div>
</app-article-content>
<app-article-content>
    <div class="card-header alert-info">
        {{items[2].title}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p> {{items[2].description}}</p>
        <footer class="blockquote-footer alert-danger"> {{items[2].code}} : <cite title="{{items[2].title}}"> {{items[2].title}}</cite></footer>
      </blockquote>
    </div>
</app-article-content>
<app-article-content>
    <div class="card-header alert-info">
        {{items[3].title}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p> {{items[3].description}}</p>
        <footer class="blockquote-footer alert-danger"> {{items[3].code}} : <cite title="{{items[3].title}}"> {{items[3].title}}</cite></footer>
      </blockquote>
    </div>
</app-article-content>